body {
  background-color: #f2defc;
  margin: 0;
  padding: 20px;
}

a {
  color: #2d6bbd;
}
.container {
  max-width: 600px;
  margin: 120px auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  font-family: prociono;
  color: #4a026b;
  font-size: 50px;
  font-weight: 100;
}

textarea {
  width: 100%;
  height: 100px;
  margin-bottom: 20px;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  font-family: merienda;
  background-color: #ae00ff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 50px;
}

button:hover {
  background-color: #2d6bbd;
}

.poem {
  margin: 20px 0;
  white-space: pre-wrap;
  font-family: merienda;
  font-size: 18px;
  padding: 20px;
  line-height: 15px;
  border-left: 3px solid #2c023f;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
footer {
  text-align: center;
  margin-top: 30px;
  font-size: 15px;
  color: #1c013ade;
  font-family: merienda;
}
.inputText {
  font-family: merienda;
  font-size: 20px;
  width: 100%;
  padding: 16px;
  border-radius: 50px;
  border: 1px solid rgba(39, 33, 66, 0.5);
  margin-bottom: 20px;
}
